ion-list {
    a {
        text-decoration: none;
    }
    ion-label {
        font-weight: 500;
        font-size: 1.1rem;
    }
    .history-heading {
        padding-top: 16px;

        ion-label {
            font-weight: 600;
        }
    }
}