<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" [routerLink]="['/','tabs']">
        <ion-icon name="arrow-back-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>
    <ion-title>Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <a>
      <ion-item>
        <ion-label>Copyright</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>
    </a>
    <a>
      <ion-item>
        <ion-label>Terms & Conditions</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>        
    </a>
    <a>
      <ion-item>
        <ion-label>Privacy Policy</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>        
    </a>
    <a>
      <ion-item>
        <ion-label>Data Providers</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>        
    </a>
    <a>
      <ion-item>
        <ion-label>Software Licences</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>        
    </a>
    <a>
      <ion-item>
        <ion-label>Location Information</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-item>        
    </a>
  </ion-list>
</ion-content>
