<ion-content>
  <form [formGroup]="loginForm">
    <ion-grid class="ion-no-padding">
      <ion-row class="back-btn" style="border-bottom: 2px solid var(--ion-color-light);">
        <ion-col>
          <div>
            <ion-buttons slot="start">
              <ion-button
              [routerLink]="['/','app-starter-auth','signin']"
              >
                <ion-icon
                size="small"
                name="arrow-back-outline"
              ></ion-icon>
              </ion-button>
              Sign In
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="progress" *ngIf="loading">
        <ion-col class="ion-no-padding">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding heading">
        <ion-col>
          <h4>Get started</h4>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding input">
        <ion-col>
          <h6>Enter your password (required)</h6>
          <ion-item class="item">
            <ion-input
              class="input"
              clearInput
              autofocus="true"
              type="password"
              placeholder="------------"
              formControlName="password"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
          <div class="alert alert-danger" *ngIf="formSubmit && !passwordField.valid">
            <div *ngIf="passwordField.errors.required">Invalid Password</div>
            <div *ngIf="passwordField.errors.minlength || passwordField.errors.maxlength">Invalid Password</div>
            <div *ngIf="passwordField.errors.pattern">Invalid Password</div>
            <div *ngIf="passwordField.errors.notFound">Incorrect Phone or Password</div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding forgot-password">
        <ion-col>
          <h6 class="link"><a 
            [routerLink]="['/','app-starter-auth', 'signin','forgotPassword']"
            >I forgot my password</a></h6>
        </ion-col>
      </ion-row>

      <ion-row class="btn-submit">
        <ion-col>
          <ion-button
            color="primary"
            type="submit"
            expand="full"
            (click)="login()"
          >
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
