<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" [routerLink]="['/','rides']">
        <ion-icon name="arrow-back-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>
    <ion-title>Ride Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="map-img">
      <ion-col size="12">
        <div class="map-preview" hidden #mapContainer>
          <div class="map" #map></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="section" *ngIf="!isLoading && loadedTrip != null">
    <div class="section-head">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img
            src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1
        .2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          ></ion-img>
        </ion-thumbnail>
        <ion-label>
          <p style="font-weight: 600; font-size: 1rem;">{{driver?.email}}</p>
          <p>{{vehicle?.modelName}}</p>
        </ion-label>
      </ion-item>
    </div>
    <ion-card style="box-shadow: none !important;">
      <ion-card-content style="padding: 0 10px;">
        <p>
          <strong>
            {{ getTripDayName(loadedTrip?.startDate, "en-US") }} at {{
            getTripTime(loadedTrip?.startTime) }} / {{
            getTripDate(loadedTrip?.startDate) }}
          </strong>
        </p>
        <p>
          Trip Status: <strong>{{ loadedTrip?.status | uppercase }}</strong>
        </p>
        <p>Total Seats: <strong>{{ loadedTrip?.totalSeats }}</strong></p>
        <p>Seats Available: <strong>{{ loadedTrip?.seatsAvailable }}</strong></p>
        <p
          *ngIf="loadedTrip?.description"
          style="
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #bbb;
            border-radius: 10px;
          "
        >
          <span style="color: var(--ion-color-primary); text-decoration: underline;">View Note:</span> 
          {{ loadedTrip?.description }}
        </p>

        <div class="container location-container">
          <h4>Location</h4>
          <p class="location">
            <span class="circleFrom"></span>
            <span class="circleFrom-back"></span>
            <span class="caption">{{loadedTrip?.startLocation?.address}}</span>
          </p>
          <p class="location">
            <span class="circleWhere"></span>
            <span class="circleWhere-back"></span>
            <span class="caption">{{loadedTrip?.endLocation?.address}}</span>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="section-booking" *ngIf="!isLoading && bookingTrips.length > 0">
    <div>
      <h4>Booking Details</h4>
    </div>
    <div class="booking-container" *ngFor="let booking of bookingTrips">
      <ion-card style="box-shadow: none !important;">
        <ion-card-header>
          <ion-avatar style="float: left;">
            <ion-img
            src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1
        .2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          ></ion-img>
          </ion-avatar>
          <ion-label style="float: left; margin: 10px;">
            <p style="font-weight: 600; font-size: 1rem;">{{booking?.client.username}}</p>
            <p>Seats Reserved: {{booking?.seatsReserved}}</p>
          </ion-label>
      </ion-card-header>
      <ion-card-content style="clear: both;">
        <div class="container booking-location">
          <p class="location">
            <span class="circleFrom"></span>
            <span class="circleFrom-back"></span>
            <span class="caption">{{booking?.startLocation?.address}}</span>
          </p>
          <p class="location">
            <span class="circleWhere"></span>
            <span class="circleWhere-back"></span>
            <span class="caption">{{booking?.endLocation?.address}}</span>
          </p>
        </div>
      </ion-card-content>
      </ion-card>
  </div>
  </div>

  <div *ngIf="isLoading">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
