.back-btn {
    padding: 20px 16px;
    font-size: 1.2rem;
  
    ion-icon {
      margin-right: 10px;
      animation-name: backIcon-animate;
      animation-duration: 600ms;
    }
    @keyframes backIcon-animate {
      from {
        transform: translate(-250px);
      }
      to {
        transform: translate(0);
      }
    }
  }
  
  ion-row {
    padding-top: 35px;
    padding-bottom: 0;
  
    h4 {
      font-weight: 900;
    }
    ion-label,
    ion-input {
      font-size: 1.2rem;
      font-weight: 500;
    }
    h6 {
      font-size: 0.8rem;
      font-weight: 600;
    }
    .alert {
      color: red;
      transform: translate(0, 10px);
    }
  }
  ion-row.input,
  ion-row.progress {
    padding-top: 0;
  }
  ion-row.btn-submit {
    position: absolute;
    bottom: 10px;
    left: 16px;
    right: 16px;
  
    ion-button {
      text-align: center;
      height: 70px;
      padding: 10px 0;
    }
  }
  