<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="side-menu">
      <ion-content>
        <ion-card
        class="profile ion-no-margin"
        color="primary">
          <ion-avatar>
            <!-- <ion-img src="assets/icon/user.png"></ion-img> -->
            <!-- <ion-img
            src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1
          .2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            ></ion-img> -->
            <ion-img [src]=[currentUser?.photoAvatar]></ion-img>
          </ion-avatar>
          <ion-card-header>
            <ion-card-title class="phone">0{{currentUser?.phone}}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-list id="main-menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appMainPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="account-menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appAccountPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" (click)="logout(p)" lines="none" detail="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="legal" class="legal">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[legalPage.url]" lines="none" detail="false">
              <ion-label slot="start">{{ legalPage.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
