.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  .map {
    position: absolute;
    height: 80%;
    width: 100%;
    flex-grow: 1;
  
    background-color: transparent;
  
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  
  .map.visible {
    opacity: 1;
  }

  .confirm-btn {
    text-align: center;
    height: 70px;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}  