.map-img {
  margin-bottom: 20px;

  .map-preview {
    width: 100%;
    max-width: 100%;
    height: 30rem;
    max-height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .map {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: transparent;
      opacity: 0;
      transition: opacity 300ms ease-in;
    }
    .map.visible {
      opacity: 1;
    }
  }
}

.section {
  margin: 15px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
}
.container {
  margin-top: 10px;

  h4 {
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ion-color-primary);
  }

  p.location {
    position: relative;
  }
  p .caption {
    margin-left: 30px;
    font-size: 1rem;
  }
  p .circleFrom {
    background-color: var(--ion-color-primary);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  p .circleFrom-back {
    background-color: var(--ion-color-primary);
    opacity: 0.5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  p .circleWhere {
    background-color: var(--ion-color-tertiary);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  p .circleWhere-back {
    background-color: var(--ion-color-tertiary);
    opacity: 0.5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}


.section-booking {
  margin: 15px;
  padding: 20px 0;
  padding-top: 5px;
  border: 1px solid #aaa;
  border-radius: 20px;

  h4 {
    padding: 0px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ion-color-primary);
  }

  .booking-container ion-card {
    background: var(--ion-color-light);
    width: 100%;
    margin: 0;
  }
  .booking-location {
    padding: 15px;
  }
}
